FACEBOOK_TOKEN=EAANCZAsgQWYwBQ4jVgBoRS1Elh6p1Lc7KO6djUB8Lwry3iv6pqOjTtYQu034mUKzEQZCPz2xpenPtehKEs899GHqF9GhiEVmov6QxU1wQ5O5uMcmvRkDoJM2ZB8011dOhRWk7ZCG0eYsLqBwlxwZBn4N5KSYCEMjAvVmsn3UEBPXEZBUyvgFuJOLq1YJh22uLC7IPnrC0IyWJZBEBUpC8xsRZAoLMeHC92OcCZARpGywFViUd7zjdb5ZAJArjwHNbpVZBjkgTZCDPXzcZC6ZA4z1CCKdgA2s0fivwiOnDa683EVDRGOAAmkQQy6P0ZA6KSFgdpf3uGL3lQL249sU77DozqgBoNVzwZDZD
NOTION_TOKEN=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
NOTION_DATABASE_ID=30e311743ff9807b9edcffe457132006
OPENAI_API_KEY=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
GOOGLE_DRIVE_FOLDER_ID=1m3A7O5RHW7V82MsqLVGxcC4G-3UzLDtN
GOOGLE_CREDENTIALS_JSON=omnispy-ai-0eb7e277f03a.json
TARGET_MARKETS=colombia,chile
PRODUCTS_PER_DAY=10
MIN_AD_DAYS=8
MIN_SCORE=70
SCAN_INTERVAL_HOURS=6
